work
waves
steps

e~leaf_tb.o
leaf_tb

verif/tests/*/*.elf
verif/tests/*/*.bin
verif/tests/*/*.debug
verif/tests/*/*.dump
verif/riscof/*/__pycache__/
verif/riscof/venv
verif/riscof/riscof_work
verif/riscof/riscv-arch-test
